* {
  box-sizing: border-box;
}

/* main content containers */

.App,
.About,
.Project {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  color: "#252525";
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 950px;
  min-height: calc(100vh - 4rem);
}

.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* landing page content */

.firstname {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: lighter;
}

.textloop {
  font-size: 2.5rem;
  font-weight: bold;
}

.base {
  margin-left: -0.4rem;
  color: coral;
}

.pitch {
  padding-top: 2rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  max-width: 500px;
  font-family: "Didact Gothic", sans-serif;
}

/* about page content */

.name {
  width: auto;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.75rem;
  margin: 1rem;
  padding-bottom: 1rem;
}

.headshot {
  margin: 1rem;
  height: 375px;
  border-radius: 15px;
}

.wrapper {
  background: rgba(211, 211, 211, 0.15);
  border-radius: 15px;
  padding: 1rem;
}

.about-me {
  max-width: 400px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 1rem;
}

.pdf {
  text-decoration: none;
}

.resume-link:hover {
  transform: scale(1.1);
}

.resume-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  margin: 2rem;
  transform: scale(1);
  transition: 0.4s;
}

.arrow {
  margin-left: 0.5rem;
}

.topic {
  text-align: center;
  margin: 2rem;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.items {
  padding-left: 0;
  max-width: 400px;
}

.items > li {
  margin: 0 0.5rem 0.5rem 0.5rem;
  display: inline-block;
  list-style: none;
  padding: 0.5rem 1rem;
}

/* work page content */

.project-list {
  padding-inline-start: 0px;
  margin: 1rem;
}

.project-list > li {
  list-style: none;
  margin: 0 auto;
  padding: 1rem;
  max-width: 350px;
}

.thumbnail {
  width: 100%;
  box-shadow: 4px 4px 4px 0px #ccc;
  margin-bottom: 1rem;
  border-radius: 15px;
  transform: scale(1);
  transition: 0.5s;
}

.thumbnail:hover {
  transform: scale(1.03);
}

.caption {
  display: block;
  padding-bottom: 2rem;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

/* navigation */

.navBar {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 1rem;
  text-align: center;
  background-color: black;
  font-family: "Didact Gothic", sans-serif;
  font-size: bold;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  height: auto;
  width: auto;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 1rem;
  color: "#252525";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transform: scale(1);
  transition: scale 0.3s;
  z-index: 2;
}

.menu:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.link {
  margin: 1rem 2rem;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  transform: scale(1);
  transition: 0.3s;
}

.link:visited {
  border-bottom: solid 2px #252525;
  display: inline;
  padding-bottom: 3px;
}

.link:hover {
  transform: scale(1.1);
  font-weight: bolder;
}

/* Media Queries */

@media (min-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .col-right,
  .col-left {
    display: block;
  }

  .items {
    max-width: 600px;
  }
}
