* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #F4F4F4;
  color: #252525;
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
}

.about,
.projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 950px;
}

.hero {
  background: url("white-texture.jpg") no-repeat center;
  background-size: cover;
}

/* navigation component */

.navBar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link:hover, .portfolio-link:hover {
  font-weight: 900;
}

.link, .portfolio-link {
  color: #252525;
  font-size: 1.5rem;
  font-weight: 500;
}

.name {
  color: #F87060;
  font-size: 1.75rem;
  font-weight: 900;
}

.name-wrapper {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}


/* intro component */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  margin: 0 1rem;
}

.textloop {
  font-size: 2.5rem;
  font-weight: bold;
}

.base {
  margin-left: -0.4rem;
  color: #F87060;
}

.pitch {
  padding-top: 2rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
  max-width: 500px;
}

/* about component */

.headshot {
  margin: 1rem;
  height: 375px;
  border-radius: 15px;
}

.about-wrapper {
  padding: 1rem;
}

.about-me {
  max-width: 400px;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem;
}

.resume-link:hover {
  font-weight: 900;
}

.resume-link {
  text-decoration: none;
  display: inline;
  color: #F87060;
  font-size: 1.75rem;
  font-weight: 500;
  margin: 2rem;
}

/* work component */

.project-list {
  display: grid;
  grid-template-columns: 1fr;
  width: calc(100% - 4rem);
  max-width: 675px;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-expand {
  width: 100%;
  margin-bottom: 4rem;
}

.swaps:hover,
.space:hover,
.challenge:hover {
  cursor: pointer;
}
.swaps:hover .thumbnail,
.space:hover .thumbnail,
.challenge:hover .thumbnail {
  background-color: rgba(248, 112, 96, .8);
}

.swaps {
  background: url("swaps-pic.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin: 2rem;
}

.space {
  background: url("wonder-pic.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin: 2rem;
}

.challenge {
  background: url("challenge-pic.jpg") no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 10px;
  margin: 2rem;
}

.thumbnail {
  position: absolute;
  background-color: rgba(248, 112, 96, .5);
  color: #F4F4F4;
  width: inherit;
  height: inherit;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 4px 4px 4px 0px #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-des {
  /* max-width: 350px; */
  width: 100%;
  line-height: 1.75rem;
  font-size: 1.25rem;
  text-align: center;
  margin-block-end: 0;
}

.project-img {
  /* max-width: 350px; */
  width: 100%;
  border-radius: 15px;
}

.visit-site-button:hover, .view-code-button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.visit-site-button, .view-code-button {
  transform: scale(1);
  transition: .3s;
  background-color: rgba(248, 112, 96);
  padding: .75rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #F4F4F4;
  outline: none;
  border: none;
  box-shadow: 4px 4px 4px 0px #ccc;
  border-radius: 10px;
  margin-top: 1.25rem;
  flex: 1;
}

.visit-site-link, .view-code-link {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* max-width: 350px; */
}


/* Media Queries */

@media (min-width: 800px) {
  .about-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .col-right,
  .col-left {
    display: block;
  }

}
